.banner {
    background-image: url('../../../img/banner-home.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(249, 219, 121);
    height: 90vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 3px 5px 2px #474747;
}

/*Inicio section sabores*/

.sabores, .eventos, .sobre {
    display: flex;
}

.sabores img, .eventos img, .sobre img {
    width: 50%;
    height: auto;
}

.texto-sabores, .texto-eventos, .texto-sobre {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 40px;
    gap: 10px;
}

.texto-sabores h2, .texto-eventos h2, .texto-sobre h2 {
    font-size: 35px;
    text-align: center;
}

.texto-sabores span, .texto-eventos span, .texto-sobre span {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.texto-sabores p, .texto-eventos p, .texto-sobre p {
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width: 425px) {
    .banner h1 {
        font-size: 60px;
    }

    /*-------------------*/

    .sabores, .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .eventos {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .sabores img, .eventos img, .sobre img {
        width: 100%;
    }
    
    .texto-sabores, .texto-eventos, .texto-sobre {
        width: 100%;
    }

    .texto-sabores p, .texto-eventos p, .texto-sobre p {
        text-align: center;
    }
    
}

@media screen and (max-width: 768px) {

    .sabores, .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .eventos {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .sabores img, .eventos img, .sobre img {
        width: 100%;
    }
    
    .texto-sabores, .texto-eventos, .texto-sobre {
        width: 100%;
    }

    .texto-sabores p, .texto-eventos p, .texto-sobre p {
        text-align: center;
    }
    
}


